.admin-view .admin-content .adminItem-container .sort{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    width: 9.4%;
    margin-right: 15.6%;
    font-weight: 600;
}

.admin-view .admin-content .adminItem-container .sort:hover{
    transform: scale(1.01);
}

.admin-view .admin-content .adminItem-container .sort img{
    width: 20px;
    height: 20px;
}