.btn_sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;
    background: #495464;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}