/* ========= || NavBarStores Styles || ========= */

.containerNavStore {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 22%;
  background: #f4f4f2;
  height: 90vh;
  z-index: 10;
  transition: 1s ease all;
  transform: translateX(0);
}

.containerNavStoreClosed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15%;
  background: #f4f4f2;
  height: 90vh;
  transform: translateX(-105%) !important;
}

.buttonEffectActive a {
  color: white;
}

.buttonEffect {
  width: 100%;
}

.buttonEffect:hover {
  background: #161616;
  border-radius: 12px;
}

.buttonAnchor{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  height: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  color: #989998;
  font-weight: 550;
  gap: 1rem;
  width: 100%;
}

.buttonAnchor:hover {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  height: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: 550;
  font-size: 1rem;
  gap: 1rem;
  width: 100%;
}

.buttonAnchor:focus {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  background: #495464;
  height: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: 550;
  font-size: 1rem;
  gap: 1rem;
  width: 100%;
}

.anchorsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1.5rem;
}

.logOutHelp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #989998;
  gap: 1rem;
  bottom: 1rem;
  position: absolute;
}

.arrowContainer > svg {
  font-size: 4vh;
  background-color: #989998;
  color: #f4f4f2;
  border-radius: 10px 0 0 10px;
}

.arrowContainer > svg:hover {
  background-color: #161616;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 50%;
  cursor: pointer;
  color: #989998;
  z-index: 100;
}
.arrowContainerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 45%;
  cursor: pointer;
  color: #989998;
  z-index: 1;
}

.arrowContainerLeft > svg {
  font-size: 4vh;
  background-color: #989998;
  color: #f4f4f2;
  border-radius: 0 10px 10px 0;
}

.arrowContainerLeft > svg:hover {
  background-color: #161616;
}

.arrowContainer.active {
  display: flex;
}

/* ========= || NavBarStores Styles || ========= */

@media (min-width: 320px) and (max-width: 661px) {
  .containerNavStore {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f4f4f2;
    height: 90vh;
    z-index: 10;
    transition: 2s ease all;
    transform: translateX(0);
  }

  .arrowContainerLeft {
    left: -5px;
  }
}

@media (min-width: 661px) and (max-width: 1024px) {
  .containerNavStore {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 35%;
    background: #f4f4f2;
    height: 90vh;
    z-index: 10;
    transition: 2s ease all;
    transform: translateX(0);
  }

  .containerNavStoreClosed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 15%;
    background: #f4f4f2;
    height: 90vh;
    transform: translateX(-150%) !important;
  }
  
}
