.Header_Home{
    background-color: #F2F4F3;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vh;
    border-bottom: 1px solid #989998;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo{
    width: 129px;
    height: 38px;
}

.cont_headerHome{
    width: 60vw;
    height: 4.4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    gap: 28px;
}

.cont_BtnSing{
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}




------------------------


.header-container {
  display: none;
}

.nav-toggler img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav-toggler img:hover {
  cursor: pointer;
}

.logo-1 {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.logo-min {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 430px;
  height: 100vh;
  background: #FFFFFF;
  z-index: 2;
  transition: 0.3s ease all;
  transform: translateX(0);
  gap: 1vh;

}

.open {
  transform: translateX(-101%) !important;
}

.nav-top {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.cont_route{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.cont_footNav{
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2vh;
}

.nav-user {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8vh;
  color: #FFFFFF;
  height: 8vh;
  width: 100%;
  gap: .5vh;
  background-color: #495464;
}

.username {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.cont_foll{
  width: 40%;
  height: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1vh;
}

.foll {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.nav-user img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-close-btn{
  display: flex;
  justify-content: flex-end;
  height: 3vh;
  padding-top: 1vh;
  padding-right: 1vh;
}

.nav-close-btn img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.nav-close-btn button {
  background: transparent;
  border: none;
}

.nav-close-btn button:hover {
  cursor: pointer;
}

.nav-btn {
  width: 382px;
  margin-left: 10px;
}

.a-btn{
  border-radius: 8px;
  padding: 12px 0 12px 0;
  width: 382px;
  color: #989998;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 5vh;
  gap: 1.6vh;
}
.a-btn>svg{
  font-size: 4vh;
}
.a-btn:hover {
  color: #FFFFFF;
  background: #495464;
}
.a-btn:focus {
  color: #FFFFFF;
  background: #495464;
}

@media (min-width:769px){
  .nav-toggler{
    display: none;
  }
}

@media (max-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        position: absolute;
        width: 100%;
        padding: 30px 91px;
      }
    .Header_Home{
        display: none;
    }
  .nav {
      width: 100vw !important;
  }

  .logo-1 {
      display: none !important;
  }

  .logo-min {
      display: block !important;
      height: 48px;
      width: 40px;
      object-fit: contain;
  }

  .header-container {
      padding: 24.5px 36px 24.5px 32px !important;
  }
  @media (max-width:1023px){
    .Header_Home{
        padding: 0 2vh;
    }
    .cont_BtnSing{
        width: 18vw;
        justify-content: center;
    }
}
}