.product-Container{
    display: flex;
    width: 100%;
    min-height: 78vh;
    padding: 22px 32px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.product-Container .product-Img{
    width: 500px;
    height: 620px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-Container .product-Img img{
    width: 500px;
    height: 620px;
    border-radius: 10px;
    object-fit: cover;
}

.product-Container .product-Info{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 25px;
}

.product-Container .product-Info .product-Important{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-Container .product-Info .product-Important h3{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #999999;
}

.product-Container .product-Info .product-Important h2{
    font-weight: 500;
    font-size: 35px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #081323;
}

.product-Container .product-Info .product-Important p{
    font-weight: 500;
}

.product-Container .product-Info .product-Description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-Container .product-Info .product-Description .btnStock{
    display: flex;
}

.product-Container .product-Info .product-Description .btnStock button{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 18px;
    cursor: pointer;
}

.product-Container .product-Info .product-Description .btnStock p{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 18px;
}

.product-Container .product-Info .product-Description .stockText{
    font-size: 16px;
}

.product-Container .product-Info .product-Description .description-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #081323;
}

.product-Container .product-Info .product-Description .description-text{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #081323;
}


.product-Container .product-Info .product-Description .addToCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    gap: 10px;
    width: 100%;
    height: 70px;
    background: #5BB35F;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
}