.auth-modal .register-form{
    width: 75vw;
    height: 709px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.auth-modal .register-form .register-img{
    width: 30.34722222222222vw;
    height: 709px;
    border-radius: 10px 0 0 10px;
}

.auth-modal .register-form .register-img img{
    width: 30.34722222222222vw;
    height: 709px;
    border-radius: 10px 0 0 10px;
}

.auth-modal .register-form .register-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 42.5vw;
    padding: 25px 0;
    gap: 25px;
    background-color: #EBEBEB;
    border-radius: 0 10px 10px 0;
}

.auth-modal .register-form .register-text h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.auth-modal .register-form .register-text .link{
    text-decoration: none;
    background: linear-gradient(153.39deg, #BBBFCA -13.9%, #495464 58.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 1023px){
    .auth-modal .register-form .register-img{
        display: none;
    }

    .auth-modal .register-form .register-text{
        width: 55vw;
        border-radius: 10px;
    }
}

@media (max-width: 768px){
    .auth-modal .register-form{
        width: 100%;
        height: 100%;
    }

    .auth-modal .register-form .register-text{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

@media (min-width:769px) and (max-height: 700px){
    .auth-modal .register-form{
        height: 80vh;
    }
    
    .auth-modal .register-form .register-img{
        height: 80vh;
    }
    
    .auth-modal .register-form .register-img img{
        height: 80vh;
    }

}

@media (min-width:769px) and (max-height: 675px){
    .auth-modal .register-form .register-text{
        gap: 10px;
    }
}