.auth-modal .register-form{
    width: 1085px;
    height: 709px;
    display: flex;
    border-radius: 10px;
}

.auth-modal .register-form .register-img{
    width: 473px;
    height: 709px;
    border-radius: 10px 0 0 10px;
}

.auth-modal .register-form .register-img img{
    width: 473px;
    height: 709px;
    border-radius: 10px 0 0 10px;
}

.auth-modal .register-form .register-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 612px;
    padding: 25px 114px;
    gap: 25px;
    background-color: #EBEBEB;
    border-radius: 0 10px 10px 0;
}

.auth-modal .register-form .register-text h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.auth-modal .register-form .register-text .link{
    text-decoration: none;
    background: linear-gradient(153.39deg, #BBBFCA -13.9%, #495464 58.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}