.Body_Home{
    background-image: url('../../images/img-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 100vh;
    display: flex;
}
.infoHome{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 22vh;
    gap: 5vh;
}
.cont_infoHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.8vh 1.4vh;
    gap: 20px;
    width: 40vw;
}

.text1{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
}
.text2{
    width: 40vw;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    align-items: center;
}


@media (max-width:1023px) {
    .infoHome{
        width: 70%;
        gap: 15vh;
        padding-top: 30vh;
    }
    .cont_infoHome{
        width: 60vw;
    }
    .text2{
        width: 50vw;
        font-size: 35px;
    }
    .text1{
        width: 60%;
    }
}

@media (max-width:767px) {
    .infoHome{
        width: 100%;
    }
    .cont_infoHome{
        width: 100%;
        padding-left: 7vh;
    }
    .text2{
        width: 80vw;
    }
}

@media(max-width:424px){
    .infoHome{
        gap: 25vh;
    }
    .cont_infoHome{
        width: 100%;
        gap: 10px;
    }
    .text2{
        width: 90%;
        font-size: 30px;
    }
    .text1{
        font-size: 20px;
        width: 80%;
    }
}